.title{
  text-align: center;
  color: #FFF;
  margin: 3 auto;
  text-align: center;
  font-weight: 500;
  font: italic bold 80px Georgia, Serif;
  text-shadow: -4px 3px 0 #3aaef1, -14px 7px 0 #0a0e27;
}
